.feedback {

  width: 375px;
  background: white;
  text-align: center;
  &__buttons {
    margin: 0 auto;
    display: flex;
    width: 100px;
    justify-content: space-between;
  }
  &__text {
    resize: none;
    margin: 0 auto;
    padding: 16px;
    width: 290px;
    height: 248px;
    border-radius: 3px;
    border: solid 1px #e7e7e7;
    color: #9b9b9b;
    font-family: "Open-Sans-Light";
    font-size: 14px;
    line-height: 19px;
    &:focus {
      outline: none !important;
      border: solid 1px #969696;
      box-shadow: 0 0 2px #8f8e8e;
    }
  }
  &__slider {
    width: 290px;
  }
}
.slider {
  text-align: center;
  width: 100%;
}
