.form-authorization {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;

  &__helper {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 30px;
  }
  &__checkbox {
    display: inline-flex;
  }
  &__input-check {
    background: $text_light_color;
  }

  &__label {
    padding: 0 0 0 5px;
    font-size: 12px;
    font-family: "Open-Sans-Light";
    color: #000;
  }
  &__show {
    border: none;
    background: transparent;
    cursor: pointer;
    color: $green_color;
    font-size: 12px;
    font-family: "Open-Sans-Light";
  }
}
.form-input {
  color: #000;

  margin-top: 15px;
  padding: 13px;
  font-family: "Open-Sans-Light";
  font-size: 14px;
  line-height: 19px;
  &:focus {
    outline: none;
  }

  &--invalid {
    border: 1px solid $red_color;
  }
  &--valid {
    border: 1px solid $text_light_color;
  }
}
